$text-color-green: #009b4d;
$text-color-light-grey: #2b292d99;
$color-light: #edf8fb;
$text-color-dark: #2b292d;
$border-color: rgba(43, 41, 45, 0.2);
$text-color-blue: #3040c4;
$text-color-black: #000000;
$text-color-white: #fff;
$color-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1),
  0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
