$text-color-green: #009b4d;
$text-color-blue: #3040c4;
$text-color-dark: #2b292d;
$text-color-black: #000000;
$text-color-white: #fff;
$text-color-light-grey: #2b292d99;

$background-color-order: #f4f5f7;
$background-color-header: #f3c6bd;
$color-light: #edf8fb;
$border-color: #2b292d33;
$border-color-light: #2b292d26;
$border-color-light-grey: #00000026;
$color-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1),
  0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
